# ignore editor leftovers
.*.sw*
.*~
*~
.vscode

# ignore precompiled python files
*.pyc

# ignore setup stuff
build/
dist/
pdfparanoia.egg-info/

# virtualenv
venv

# ignore pdfs in the top-level dir
/*.pdf

# temporary pdfs in tests/diff/
tests/diff/pdf
